mat-toolbar{
    background-image: url(../../assets/images/header2.jpg); 
    background-attachment: fixed;
    background-position: center;
    width:100%;
	padding: 80px;

	h1{
		margin-top: 0;
		margin-bottom: 0;
		padding: 40px;

		font-family: Georgia, serif;
		font-size: 2vw;
		letter-spacing: 2px;
		word-spacing: 2px;
		background: -moz-linear-gradient(top, #FF0000 0%, #6B0000 50%, #000000 100%);
		background: -webkit-linear-gradient(top, #FF0000 0%, #6B0000 50%, #000000 100%);
		background: linear-gradient(to bottom, #FF0000 0%, #6B0000 50%, #000000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 700;
		text-decoration: none;
		font-style: normal;
		font-variant: normal;
		text-transform: uppercase;
			
		span{
			background: -moz-linear-gradient(top, #FFFFFF 0%, #5E5E5E 100%, #000000 100%);
			background: -webkit-linear-gradient(top, #FFFFFF 0%, #5E5E5E 100%, #000000 100%);
			background: linear-gradient(to bottom, #FFFFFF 0%, #5E5E5E 100%, #000000 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}