<div *ngIf="game" class="container">
  <mat-card >
  <mat-card-header>
    <a href="/home" class="back"><img src="../../assets/images/back.png" alt="Retour en arriere"></a>
    <mat-card-title><h1>{{game.name}}</h1></mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image [src]="getImage()" alt="Photo of a Shiba Inu"> -->
  <img src="{{game.cover.url}}" alt="Cover">
  <mat-card-content>
    <p class="sommaire_details">{{game.summary}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">LIKE</button>
    <button mat-raised-button color="primary">SHARE</button>
  </mat-card-actions>
  
  <mat-card-actions>
	<form class="example-form"> 
	<mat-form-field class="example-full-width">
    <input matInput placeholder="Saisir votre identifiant..." value="anonim"
        #userId/>
	</mat-form-field>
    <input type="submit" value="J'y ai joué !" (click)="addReview(userId.value , game.id)"/> 
	</form>
  </mat-card-actions>
  
  <mat-card-actions>
  <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Saisir votre identifiant..." value="anonim"
        #userIdBis/>
	</mat-form-field>
	
	<mat-form-field class="example-full-width">
    <input matInput placeholder="Saisir une note entre 0 et 10 ..."
        #note/>
	</mat-form-field>
    <input type="submit" value="Noter le jeu !" (click)="addReviewNote(userIdBis.value , game.id, note.value)"/> 
	</form>
  </mat-card-actions>
</mat-card>

</div>

